.root {
    -fx-font-family: "Segoe UI Semibold";
    -fx-background: cornsilk;
    /* define variables to avoid duplicating values */
    text_color: black;
}

.button {
    -fx-text-fill: text_color;
    -fx-background-color: lightgray;
    -fx-padding: 10px;
}
/*Trying to figure this out*/
/*#buttonDefault {*/
/*    -fx-text-fill: text_color;*/
/*    -fx-background-color: lightgray;*/
/*    -fx-padding: 10px 24px;*/
/*}*/



