.root {
    -fx-font-family: "Segoe UI Semibold";
    -fx-background: #d3e8e5;
    /*cornsilk*/
    /* define variables to avoid duplicating values */
    text_color: black;
}
#Pane {
    -fx-spacing: 20px;
}

#GameModePanel {
    -fx-spacing: 10px;
}

#CommandBoxButtonPanel {
    -fx-spacing: 30px;
}

.text-area {
    -fx-pref-width: 1200;
    -fx-pref-height: 80;
}

.button {
    -fx-text-fill: text_color;
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
    -fx-background-color: lightgray;
    -fx-padding: 10px;
}
/*Trying to figure this out*/
#Run {
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
    -fx-text-fill: text_color;
    -fx-background-color: lightgray;
    -fx-padding: 10 90px;
}

#Clear {
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
    -fx-text-fill: text_color;
    -fx-background-color: lightgray;
    -fx-padding: 10 90px;
}

#Canvas {
    -fx-box-shadow: lightgray;
}




